{% extends 'base.html.twig' %}

{% block body %}
<!-- Page Content -->
        <div class="container-fluid">
				  <div class="row">
				    <div class="col-lg-offset-2 col-lg-2 banner zoom-in grey-blue" style="margin-right:20px">
				    	<h3>Air temperature</h3>
						<h3> {{temperature2}} °C</h3>
				    </div>
				    <div class="col-lg-2 banner zoom-in blue" style="margin-right:20px">
				    	<h3>Water temperature</h3>
				      <h3> {{temperature1}} </h3>
				    </div>
				    <div class="col-lg-2 banner zoom-in yellow" style="margin-right:20px">
				      <h3> Luminosity </h3>
				      <h3> {{temperature1}} </h3>
				    </div>
				    <div class="col-lg-2 banner zoom-in orange" style="margin-right:20px;text-align:center">
				    	<h3>Solar panel Temperature</h3>
				      <h3> {{temperature1}} </h3>
				    </div>
				  </div>
				  <div class="row">
				    <div class="col-lg-offset-3 col-lg-3 banner zoom-in grey" style="margin-right:20px;text-align:center">
				      <h3 style="color:#e6e6e6"> Solar panel I / O </h3>
					    <input id="toggle-one" style="" checked type="checkbox">
				    </div>
				    <div class="col-lg-3 banner zoom-in grey" style="text-align:center">
				    	<h3 style="color:#e6e6e6">Pump I / O</h3>
					    <input id="toggle-two" checked type="checkbox">
				    </div>
				  </div>
				</div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <script>
        $(function() {
            $('#toggle-one').bootstrapToggle();
        })
        
        $(function() {
            $('#toggle-two').bootstrapToggle();
        })
    </script>

{% endblock %}


