{% extends 'base.html.twig' %}

{% block body %}

  <div class="container-fluid">
	  <div class="row">
      <div class="col-lg-offset-1 col-lg-10 banner grey" style="min-height:300px">
      	<h3 style="color:white">Sensors settings</h3>
      	<div class="row">
      		<div class="col-lg-4">
  	        <div class="form-group">
              <label style="color:white" for="waterTemperatureSensor">Water temperature :</label>
              <select class="form-control" id="waterTemperatureSensor" width="200px">
			          {% for sensor in sensors %}
                  <option>{{sensor}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
      		<div class="col-lg-4">
  	        <div class="form-group">
              <label style="color:white" for="waterTemperatureSensor">Air temperature :</label>
              <select class="form-control" id="waterTemperatureSensor" width="200px">
			          {% for sensor in sensors %}
                  <option>{{sensor}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
      		<div class="col-lg-4">
  	        <div class="form-group">
              <label style="color:white" for="waterTemperatureSensor">Panel solar temperature :</label>
              <select class="form-control" id="waterTemperatureSensor" width="200px">
			          {% for sensor in sensors %}
                  <option>{{sensor}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}


