{% extends 'base.html.twig' %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
		  <div class="col-lg-offset-1 col-lg-10 banner hoverable grey">
          {% block fos_user_content %}	 
          {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
